# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ruff_cache/
*.egg-info/

# Окружение и секреты
.env
.env.*
!.env.example

# Airflow
logs/

# Spark
spark-warehouse/
metastore_db/
derby.log

# IDE и ОС
.vscode/
.idea/
.DS_Store
Thumbs.db
